<h1>Current weather</h1>

<p>If you want to know the current weather in any city of the world,
    WeatherApi is here for you.</p>

<p>Check the weather of any city just by adding an / and the name of the city
    after ajax in the browser.</p>
<p>For isntance, if you want to know the weather in Kuala lumpur, you only have to type
    http://localhost:3000/ajax/kuala lumpur and the app will show you Kuala lumpur weather.
</p>
<P>It's your turn, try it now!!!!</P>